<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>

# İgnore File
<Files "README.MD">
    Order Deny,Allow
    Deny from all
</Files>

# İgonre All files by condition

<FilesMatch "\.(md|txt|log|conf|json)$">
    Order Deny,Allow
    Deny from all
</FilesMatch>